body{
    background: yellow;
    height: 300px;
    font-family: comic sans MS;
}
h1{
    color: blue;
    text-align: center;
    margin-top: 180px
}
ul{
    list-style: none;
    text-align: center;
    margin-top: 80x;
}
ul li{
    padding: 10px;
}
ul li a{
    font-size: 25px;
    color: blue;
}
